@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.ais-HitsPerPage {
  @apply py-2;
}

.ais-HitsPerPage-select {
  @apply w-full px-3 py-1 rounded-lg outline-none font-oswald;
}
.ais-SortBy-select {
  @apply w-full px-3 py-1 rounded-lg outline-none font-oswald;
}

.ais-SearchBox-input {
  @apply w-full px-3 py-1 rounded-lg outline-none font-oswald;
}

.ais-Hits,
.ais-Hits-list,
.ais-Hits-item {
  @apply w-full;
}

.ais-SearchBox-input {
  @apply w-full border-2 border-gray-300 rounded-md outline-none font-oswald;
}

.ais-Stats {
  @apply font-oswald;
}

.ais-SearchBox-form {
  @apply flex gap-3;
}

.ais-SearchBox-submitIcon {
  @apply w-4 h-4;
}
.ais-SearchBox-resetIcon {
  @apply w-4 h-4;
}
.ais-RefinementList-list {
  @apply py-2 font-oswald;
}
.ais-RefinementList-checkbox {
  @apply mr-1;
}
.ais-RefinementList-count {
  @apply font-semibold;
}
.ais-RangeInput {
  @apply font-oswald;
}
.ais-RangeInput-input {
  @apply px-2 py-1 my-1 rounded-lg outline-none;
}
.ais-RangeInput-separator {
  @apply mx-1;
}
.ais-RangeInput-submit {
  @apply pl-2 font-bold;
}
.ais-Pagination-list {
  @apply flex items-center justify-center gap-3 font-oswald;
}
