$backgroundColor: var(--backgroundColor);

.Home {
  display: grid;
  grid-template-columns: 17% 83%;
  grid-template-rows: 10% 90%;
  height: 100vh;
  grid-template-areas:
    "Headers Headers"
    "Aside Main";
  overflow: hidden;
}
.Aside {
  grid-area: Aside;
  background-color: $backgroundColor;
  border-right: 1px solid #e5e5e5;
  overflow: hidden;
}

.Header {
  grid-area: Headers;
  background-color: $backgroundColor;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
}

.Main {
  grid-area: Main;
  background-color: $backgroundColor;
  overflow: hidden;
}
