@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.ais-Hits-list {
  @apply grid grid-cols-3 gap-4;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  list-style: none;
  padding: 0; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 4px;
  /* width: 3px; */
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #4c3ded;
  border-radius: 5rem;
  /* width: 3px; */
}

::-webkit-scrollbar-track {
  border-radius: 5rem;
  /* width: 3px; */
}

:root {
  --backgroundColor: #ffffff;
}

[data-theme="dark"] {
  --backgroundColor: #1a1a1a;
}
